body,html{
    height: 100%;
    width: 100%;
    color: white;
    background-color: teal;
}
h1{
    color: #A38A00;
}
.formulaire{
    position: absolute;
    left:20%;
    background-color: #101820;
    padding-left: 20%;
    padding-right: 10%;

}
p{
    margin-bottom: 5%;
}